:root {
    --color-primary: #2d8cf0;
    --color-primary-light: #79bbff;
    --color-success: #19be6b;
    --color-success-light: #95d475;
    --color-warning: #ff9900;
    --color-warning-light: #eebe77;
    --color-danger: #ed4014;
    --color-danger-light: #f89898;
    --color-info: #808695;
    --color-info-light: #b1b3b8;

    --border-color: #dcdee2;

    --text-color: #515a6e;

    --title-color: #17233d;
}
html,
body {
    margin: 0;
    padding: 0;
    color: var(--text-color);
}

html {
    font-size: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--title-color);
}

* {
    box-sizing: border-box;
}
body {
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
        "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    font-size: 1.4rem;
}
@media screen and (max-width: 1366px) {
    body {
        font-size: 1.2rem;
    }
}
@media screen and (min-width: 1921px) {
    body {
        font-size: 1.6rem;
    }
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.page-container {
    width: 80vw;
    margin-left: 10vw;
    padding-top: 8vh;
}

.margin-bottom {
    margin-bottom: 12px;
}
.margin-bottom-large {
    margin-bottom: 24px;
}
